// my-header.scss
$c:3; $n:6; $u:4;
#headBox{ position:fixed; top:0; left:0; z-index:1000; width:100%; @include conUnit(height, 150); background-color:#fff;
  &>#first-gnb{ position:absolute; bottom:0; left:0; width:100%; height:70%; 
    &>.first-wrap{ width:80%; height:100%; margin:auto;
      &>h1{ float:left; width:20%; height:100%; background-image: url('../../img/logo.png'); background-position:50% 50%; background-size:contain; background-repeat:no-repeat; }
      &>ul{ float:left; width:60%; height:100%; 
      &:after{ content:" "; display:block; width:100%; height:100%; clear:both; }
        &>li{ float:left; width:20%; height:100%; 
        &:first-child{ margin-left:10%; }
        &:last-child{ margin-right:10%; }
          &>a{ display:block; @include fullBox; background-color:transparent; 
            &>span{ display:block; text-align:center; @include conUnit(line-height, 105); @include conUnit(font-size, 20); color:#333; font-weight:bold; }
            } //a
            &>ul{ position:fixed; @include conUnit(top, 150); left:0; width:100%; height:auto; background-color:#fff; border-top:2px solid #777; 
              &>li{ position:relative; float:left; width:16%; @include conUnit(height, 320);  background-color: #fff;
              &:first-child{ margin-left:10%; }
              &:last-child{ margin-right:10%; }
                &>dl{ width:100%; height:auto; 
                  &>dt{ width:100%; height:auto; @include conUnit(margin-top, 20);  @include conUnit(margin-bottom, 10); 
                    &>a{ display:block; width:auto; height:auto; 
                      &>span{ display:block; width:auto; @include conUnit(height, 40); @include conUnit(text-indent, 50); @include conUnit(line-height, 40); @include conUnit(font-size, 15); color:#333; font-weight:bold;}
                    }//a
                  } //dt
                  &>dd{ width:100%; height:auto; 
                    &>a{ display:block; width:auto; @include conUnit(height, 30); @include conUnit(text-indent, 50); @include conUnit(line-height, 30); @include conUnit(font-size, 13);
                    &:last-of-type{ @include conUnit(margin-bottom, 50); }
                    } //a
                  } //dd
                } //dl
              &:before{ content:" "; display:block; position:absolute; top:10%; left:10%; width:0; height:80%; border:1px solid #eee; box-sizing:border-box; }
              } //li
            &.ul-one{ display:none; }
            &.ul-two{ display:none; }
            &.ul-three{ display:none; }
            &.ul-four{ display:none; 
              &>li{ width:80% / $u;   
                &>.addver-box{ position:absolute; top:10%; right:0; width:100%; @include conUnit(height, 260); background-image: url('../../img/asiana-model.jpeg'); background-size:contain; background-position:50% 50%; background-repeat:no-repeat; }
              }
              &>li:last-child:before{ display:none; }
              }
            } //
          &:nth-child(3)>ul>li{ @include conUnit(height, 420); }
          } //li
        } //ul
        &>.under-line{ display:none; position:relative; z-index:50; @include conUnit(top, 101); left:20%; margin-left:20%; width:100px; height:4px; background-color: #f00; }
        &>.side-menu{ float:right; width:20%; height:100%;
          &>a{ display:block; float:left; width:100% / $c; height:100%; 
          &:nth-of-type(1){ background-image: url('../../img/chatbot.png'); background-position:50% 50%; background-size: 60%; background-repeat: no-repeat; }
          &:nth-of-type(2){ background-image: url('../../img/my.png'); background-position:50% 50%; background-size: 40%; background-repeat: no-repeat; }
          &:nth-of-type(3){ background-image: url('../../img/search.png'); background-position:50% 50%; background-size: 40%; background-repeat: no-repeat; }
          } //a
        } //side-menu
      } //first-gnb
    } //first-wrap 
    &>#secound-gnb{ position:absolute; top:0; left:0; width:100%; height:30%; background-color:#f7f7f7; 
      &>.secound-wrap{ width:80%; height:100%; margin:auto;
        &>.left-menu{ float:left; width:30%; height:100%; 
          &>ul{ @include fullBox; 
            &>li{ float:left; position:relative; width:100% / $c; height:100%; 
              &>a{ display:block; width:auto; height:100%; 
                &>span{ display:block; text-align:center; @include conUnit(line-height, 45); @include conUnit(font-size, 15); color:#333; }
              } //a
            &:before{ content:" "; display:block; position:absolute; right:0; top:35%; width:0; height:30%; border-right:1px solid #777; box-sizing:border-box; }   
            &:last-child:before{ display:none; }
            } //li
          } //ul
        } //left-menu
        &>.right-menu{ float:right; width:45%; height:100%; 
          &>ul{ @include fullBox; 
            &>li{ float:left; position:relative; width:90% / $n; height:100%;  
              &>a{ display:block; width:auto; height:100%;
                &>span{ display:block; text-align:center; @include conUnit(line-height, 45); @include conUnit(font-size, 14); color:#333; }
              } //a
            &:first-child{ margin-left:10%; }
            &:nth-child(4):before{ content:" "; display:block; position:absolute; top:0; bottom:0; margin:auto; @include conUnit(width, 20); @include conUnit(height, 20); background-image: url('../../img/earth.png'); background-size:contain; background-position:50% 50%; background-repeat:no-repeat; }
            &:nth-child(5):before{ content:" "; display:block; position:absolute; right:0; top:35%; width:0; height:30%; border-right:1px solid #777; box-sizing:border-box; text-decoration:underline; }
            } //li
          } //ul
        } //right-menu
      } //secound-wrap       
    } //secound-gnb
} //headBox